@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

code {
  font-family: 'Raleway';
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
